.menu{
margin-left: 10px;
float: left;
border: ridge; 1px;
border-radius: 5px;
padding: 5px;
background-color: Oldlace;
box-shadow: inset rgb(43, 47, 63) 0px 1px 8px;
text-align: center;
}

.menu a{
text-decoration: none;
float: left;
padding: 3px;
margin: 5px;
border: 2px groove;
border-bottom-width: 3px;
border-radius: 8px;
background: linear-gradient(to bottom, Linen, Burlywood);
border-left-color: Bisque;
border-right-color: Burlywood;
border-bottom-color: Burlywood;
border-top-color: Bisque;
color: black;
}

.menu a:hover{
	background: linear-gradient(to bottom, Burlywood ,Linen);
}

@media print {
	.menu{display: none;}
}