#page{
width: 21cm;
height: 29cm;
border:solid 1px;
margin: 0px;
padding: 0px;
}


.condition,.token{
	background-color: Linen;
width: 1cm;
height: 1cm;
background-size: auto 80%;
background-position: center;
background-repeat: no-repeat;
float: left;
text-align: center;
line-height: 1cm;
font-weight: bold;
color: black;
border: solid black 1px;
}

.row{
	clear:both;
}

.token{
width: 2cm;
height: 2cm;
clear:right;
color: Maroon;
/*border-radius: 50%;*/
/*border: solid Maroon 0.1cm;*/
/*border: solid Maroon 1px;*/
}

/*rgba(222,173,120)*/
/*rgba(255,255,204)*/
/*rgba(80,0,0)*/

.poison,.poison-color,.burning,.burning-color,.armor{line-height: 47px;}

.armor{background-image: url(../img/armor.svg);}
.blast{
	background-image: url(../img/blast.svg);
	background-size: 100%;
}
/*.blight{background-image: url(../img/blight.svg);}*/
.brilliance{background-image: url(../img/brilliance.svg);}
.burning{background-image: url(../img/burning.svg);}
.burning{background-image: url(../img/burning-color.svg);}
.cursed{background-image: url(../img/cursed.svg);}
.defensive{background-image: url(../img/defensive.svg);}
/*.distracted{background-image: url(../img/distracted.svg);}*/
.fast{background-image: url(../img/fast.svg);}
.fast-color{background-image: url(../img/fast-color.svg);}
.focus{background-image: url(../img/focus.svg);}
.manipulate{background-image: url(../img/manipulate.svg);}
.paralyzed{background-image: url(../img/paralyzed.svg);}
.poison{background-image: url(../img/poison.svg);}
.poison{background-image: url(../img/poison-color.svg);}
.slow{background-image: url(../img/slow.svg);}
.slow-color{background-image: url(../img/slow-color.svg);}
.reactivate{background-image: url(../img/reactivate.svg);}
.reactivate-color{background-image: url(../img/reactivate-color.svg);}

.scheme-guild{background-color: rgba(171,49,45,1);}
.scheme-arcanist{background-color: rgba(48,100,175,1);}
.scheme-ressurect{background-color: rgba(0,150,72,1);}
.scheme-neverborn{background-color: rgba(121,78,143,1);}
.scheme-outcast{background-color: rgba(89, 87, 86, 1);}
.scheme-thunder{background-color: rgba(89, 87, 86, 1);}
.scheme-gremlin{background-color: rgba(89, 87, 86, 1);}

.square{
	border-radius: 0px;
}

.circle{
	border-radius: 50%;
}

.size-10{
	width: 10mm;
	height: 10mm;
}

.size-30{
	width: 30mm;
	height: 30mm;
}

.size-40{
	width: 40mm;
	height: 40mm;
}

.size-50{
	width: 50mm;
	height: 50mm;
}

.float-left{
	float: left;
}