.spellmenu{
width: 100%;
/*border:solid 1px;*/
margin: 0px;
padding: 0px;
}

.float-left,.spellmenu{
	float: left;
}

.spellpart{
	/*width: 200px;*/
	/*width: 20%;*/
	border: black 1px solid;
	/*overflow: auto;*/
}

.spellpart-magia{
	/*width: 270px;*/
	height: 50px;
}
.spellpart-genus{
	/*width: 140px;*/
	/*height: 280px;*/
	height: 50px;
}
.spellpart-elemental{
	/*width: 140px;*/
	/*height: 280px;*/
	height: 50px;
}
.spellpart-alteration{
	/*width: 200px;*/
	/*height: 280px;*/
	height: 50px;

}
.spellpart-augmentation{
	/*width: 200px;*/
	/*height: 280px;*/
	height: 50px;
}

.spellpart-total{
	/*width: 779px;*/
	/*width: 95%;*/
	padding: 10px;
}

input{
	/*width: 100px;*/
}

option{
	border: solid 1px black;
	/*height: 20px;*/
	padding-left: 5px;
}

option:hover{
	background-color: Lightgrey;
}

.spelltitle{
	text-transform: uppercase;
	font-size: 11pt;
	line-height: 25px;
}

.btn-main{
	float: right;
	width: 150px;
	margin-right: 18px;
	margin-bottom: 10px;
	border: solid 1px black;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	color: WHITE;
	background-color: black;
	text-transform: uppercase;
	font-family: Impact;
	/* font-family: mistral; */
	font-size: 14pt;
}

hr{
	clear: both;
}

.card{
/*position: relative;
/*width: 6.2cm;*/
/*height: 300px;*/
/*float: left;
border: solid black 1px;
margin-bottom: 1.2cm;
background-color: Blanchedalmond;*/
/*background-color: rgba(89, 62, 42, 1);*/
/*background-color: transparent;*/
}

.cardpart{
	/*background-color: Aliceblue;*/
	border: solid 1px black;
	float: left;
	font-size: 8pt;
	padding: 1px;
	width: 100%;
	/*font-family: Impact;*/
	/* font-family: mistral; */
}

.cardpart-name{
	font-size: 8pt;
	font-weight: bold;
}
.cardpart-story{
	font-style: italic;
}
.cardpart-aspect{
	width: 25%;
	width: 10%;
	text-align: center;
}
.cardpart-ap{
	width: 10%;
	text-align: center;
}
.cardpart-tn{
	width: 11%;
	text-align: center;
}
.cardpart-resist{
	width: 22%;
	width: 15%;
	text-align: center;
}
.cardpart-range{
	width: 22%;
	width: 10%;
	text-align: center;
}
.cardpart-damage{
	width: 22%;
	width: 10%;
	text-align: center;
}
.cardpart-duration{
	width: 22%;
	width: 15%;
	text-align: center;
}
.cardpart-text{}
.cardpart-requirement{}

.info-title{
	color: White;
	background-color: black;
	text-align: center;
}

#magia option{
	font-size: 8pt;
}

#spellTotal{
	/*position: absolute;*/
	/*left: 277px;
	top: 350px;*/
	/*width: 100%;*/
}

#copyright{
	clear: both;
	font-size: 10pt;
	text-align: center;
}

.count-div{
	border:solid 1px black;
	border-top: none;
	border-bottom: none;
	padding: 5px;
	font-size: 8pt;
	display: none;
}
.count-min{
	float: left;
}
.count-max{
	float: right;
}

/*#log{display: none;}*/
.log{
	display: none;
	margin-top: 70px;
}

#info{
	display: none;
	position: absolute;
	top: 50px;
	background: white;
	border: solid 1px black;
	font-size: 10pt;
	line-height: 10pt;
	padding: 5px;
}

@media print{
	body{
		border: none;
		background-color: white;
	}
	.spellmenu,#copyright,hr,.log{
		display: none;
	}
	#spellTotal{
	position: absolute;
	top: 0.5cm;
	left: 0.5cm;
	right: 0.5cm;
	bottom: 0.5cm;
	background-color: White;
	width: 100%;
	}
	#spellTotal .cardpart{
	background-color: White;
	}
}